.chat-box-container{
    position: fixed;
    width: 380px;
    background-color: white;
    top: 13%;
    right: 2%;
    height: 75vh;
    padding: 1rem;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #fff;
    overflow-y: hidden;
    overflow-x: hidden;
}

.chat-box-conversations{
    height: 77%;
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-box-container{
    padding: 1rem 1rem 0 1rem;
    transition: all 0.15s ease-in-out;
    animation: fadeNewMessage 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0 1px 2px #00000033;
}

.chat-box-message-left{
    float: left;
    text-align: left;
    margin: 0 0 0 1rem;
    color: #fff;
    background-color: #4870df;
}

.chat-box-message-right{
    float: right;
    text-align: right;
    margin: 0 1rem 0 0;
    background-color: #fafafa;
}

.chat-box-message{
    position: relative;
    max-width: 50%;
    min-height: 40px;
    padding: 0.75rem;
    border-radius: 4px;
    font-size: 14px;
    line-height: 18px;
    font-weight: bold;
    box-shadow: 0px 10px 10px -8px rgba(0,0,0,0.08);
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chat-box-controls{
   margin-top: 3%;
}

.chat-box-input{
    float: left;
    height: 40px;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 40px;
    margin: 0 0.5rem 0 0;
    width: calc(100% - 52px);
    background-color: #dedfed;
    box-shadow: inset 0 0 0 2px #dedfed;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    transition: 0.15s all ease-in-out;
    box-sizing: border-box;
}

.chat-send-button{
    background-color: #4870df !important;
    height: 38px;
    width: 38px;
}

.ant-layout{
    background-color: rgb(240, 242, 245) !important;
}

.create-feeds{
    background-color: white;
    padding: 33px;
    border-radius: 15px;
    box-shadow: 0 1px 2px #00000033;
}

.create-feeds-label{
   font-weight: 700;
   margin-left: 17px;
   color: #8e8e8e;
}

.create-feeds-header{
   margin-bottom: 16px;
}

.create-feeds-icon{
    color:#4870df !important;
    font-size: 18px;
}

.app-search-input{
    border-radius: 19px;
    background-color: rgb(240, 242, 245);
    padding: 9px;
    border-width: 0;
    font-size: 15px;
}

.app-login-name{
    font-weight: 600;
    color: #050505;
    margin-left: 9px;
}

.app-header-icons{
    color: #2d2d2d !important;
    font-size: 18px;
    margin-right: 46px;
    text-align: center;
    border-radius: 19px;
    padding: 9px;
    background-color: #e4e6eb;
}

.app-no-feeds{
    margin-top: 61px;
    text-align: center;
    font-weight: bold;
    color: #65676b;
    font-size: 17px;
}

.app-no-chats{
    margin-top: 61px;
    text-align: center;
    font-weight: bold;
    color: #65676b;
    font-size: 17px;
}

.app-feeds-list{
    background-color: white;
    margin-top: 13px;
    border-radius: 10px;
    padding: 7px;
    box-shadow: 0 1px 2px #00000033;
}

.create-feeds-controls{
    margin-top: 16px;
}

.create-feeds-button{
    background: #4870df !important;
}

.chat-box-header{

}

.chat-box-header-content{
    font-weight: 700;
    font-size: 16px;
    color: #8e8e8e;
}

.chat-box-active-icon{
    background-color: green;
    width: 7px;
    height: 7px;
    display: inline-block;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 5px;
}