.app-creds-form{
    width: 400px;
    margin: auto auto;
    padding-top: 10%;
}

.app-name{
    color: red;
    margin-left: 7px;
}

.app-creds-form-div{
    padding: 29px;
    background: white;
    border-radius: 2%;
    box-shadow: 1px 12px 14px #d4d4d444;
}

.app-creds-form-controls{
    margin-bottom: 15px;
}